*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.pg-container{
    height: 100vh;
    background-image:url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-panel{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    height: 7%;
}
.journey {
    font-size: 20px;
    color: white;
    text-decoration: none;
    align-self: center;
}
.journey:hover{
    color: #329a65;
}
.nav-p{
    font-size: 15px;
    color: white;
    align-self: center;
}
.nav-p a{
    text-decoration: none;
    color: #3cb878;
}
.nav-p a:hover{
    border-bottom: 1px solid #3cb878 ;
}
.sprites{
    display: flex;
    justify-content: space-between;

}
.icon{
    align-self: center;
    width: 30px;
    height: 25px;
    margin: 0 20px;
}
.calendar{
   background-image: url("../images/sprites.png");
    background-repeat: no-repeat;
}
.calendar:hover{
    background-image: url("../images/sprites_hover.png");
    background-repeat: no-repeat;
}

.form{
    background-image: url(../images/sprites.png);
    background-position-x: -45px;
    background-repeat: no-repeat;
}
.form:hover{
    background-image: url(../images/sprites_hover.png);
    background-position-x: -45px;
    background-repeat: no-repeat;
}
.compas{
    background-image: url(../images/sprites.png);
    background-position-x: -100px;
    background-repeat: no-repeat;
    border-right: 1px solid rgba(136,136,136,0.5);
    width: 40px;

}
.compas:hover{
    background-image: url(../images/sprites_hover.png);
    background-position-x: -100px;
    background-repeat: no-repeat;
    border-right: 1px solid rgba(136,136,136,0.5);
    width: 40px;
}
.container{
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 501px;
    background-color: white;
    border-radius: 10px;
    align-self: center;
}
.form-container{
    width: 80%;
    margin:  auto;
    display: flex;
    flex-direction: column;
}
.sign{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    position: relative;
}
.sign::before{
    content: '';
    width: 18px;
    position: absolute;
    height: 18px;
    background-color:#3cb878;
    left: -50px;
    top: 28px;
}
.sign h3{
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    align-self: center;
}
.sign a{
    font-size: 14px;
    color:  #3cb878;
    align-self: center;
    text-decoration: none;
}
.sign a:hover{
    border-bottom: 1px solid #3cb878;
}

.button{
    color: white;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.blue {
    background-color: #305db8;
    width: 49%;
}
.blue:hover{
    background-color: #264b96;
}
.blue span{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    margin: 15px 25px;
    padding-right: 25px;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.red{
background-color: #df4a32;
width: 49%;
}
.red:hover{
    background-color: #c3412c;
}
.red span{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    margin: 15px 20px;
    padding-right: 17px;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.or{
     text-align: center;
     font-size: 14px;
     color: rgba(132, 132, 132, 255);
     padding: 15px;
     display: inline-block;
     position: relative;
 }
.or::before{
    position: absolute;
    color: #eaeaea;
    content: ' ________________________';
    left: -38px;
    top: 10px;
    width: 265px;
}
.or::after{
    position: absolute;
    color: #eaeaea;
    content: ' ________________________';
    left: 173px;
    top: 10px;
    width: 265px;
}


input{
display: block;
border-radius: 3px;
width: 100%;
padding: 20px;
margin-bottom: 15px;
border: 1px solid #eaeaea;
color: black;
}
input::placeholder{
    color: #eaeaea;
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.check{
display: flex;
flex-direction: row;

}
input[type=checkbox]{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 5px 0;
    background-color: white;
}

label{
font-size: 14px;
color: rgba(67, 67, 67, 255);
align-self: center;
padding: 5px;
}
label a{
color: #3cb878;
text-decoration: none;
}
label a:hover{
    border-bottom: 1px solid #3cb878;
}
.green{
color: white;
border-radius: 3px;
padding: 20px;
text-align: center;
display: inline-block;
font-size: 18px;
background-color: #3cb878;
width: 100%;
margin: 25px 0;
border: none;

}
.green:hover{
    background-color: #329a65;
}